/auto-save-list/
/org-roam.db
/straight/
/.org-id-locations
/recentf
/transient/
/bookmarks
/nov-places
/.cask/
/elpa/
/elpy/
/bookmarks~
/recentf~
/tramp
/%backup%~
/.org-generic-id-locations
/scimax/
